<div [style]="{backgroundColor: 'var(--surface-b)'}" class="px-4 py-5 md:px-6 lg:px-8">
  <div class="grid">
    <div class="col-4">
      <p-dropdown (onChange)="onMachineGroupChange(machineGrouping)" [style]="{width: '100%'}" [options]="machineGroups"
                  [(ngModel)]="machineGrouping" optionLabel="MGName"></p-dropdown>
    </div>

    <div class="col-4">
      <p-dropdown [style]="{width: '100%'}" [options]="machineIDs" [(ngModel)]="machineID"
                  optionLabel="MiAlias"></p-dropdown>
    </div>

    <ng-content></ng-content>
  </div>
</div>
