<app-stats [todayData]="+todayData"
           [yesterdayData]="+yesterdayData"
           [monthData]="+monthData">
</app-stats>

<div class="grid pt-3">
  <div class="col-6">
      <app-chart [data]="saleChartData" [options]="saleChartOptions"></app-chart>
  </div>

  <div class="col-6">
      <app-chart [data]="countChartData" [options]="countChartOptions"></app-chart>
  </div>

  <div class="col-6">
    <app-chart [data]="payTypesChartData" [options]="payTypesChartOptions"></app-chart>
  </div>
</div>


